.DS_Store
sem1/.DS_Store
sem1/.ipynb_checkpoints
sem1/'к лабораторной 0.1'/.DS_Store

sem1/.DS_Store
sem1/.ipynb_checkpoints

sem2/.DS_Store
sem2/.ipynb_checkpoints

sem3/.DS_Store
sem3/.ipynb_checkpoints

sem4/.DS_Store
sem4/.ipynb_checkpoints

sem5/.DS_Store
sem5/.ipynb_checkpoints

sem6/.DS_Store
sem6/.ipynb_checkpoints

sem7/.DS_Store
sem7/.ipynb_checkpoints

sem8/.DS_Store
sem8/.ipynb_checkpoints
