.DS_Store
sem01/.DS_Store
sem01/.ipynb_checkpoints
sem01/'к лабораторной 0.1'/.DS_Store

sem01/.DS_Store
sem01/.ipynb_checkpoints

sem02/.DS_Store
sem02/.ipynb_checkpoints

sem03/.DS_Store
sem03/.ipynb_checkpoints

sem04/.DS_Store
sem04/.ipynb_checkpoints

sem05/.DS_Store
sem05/.ipynb_checkpoints

sem06/.DS_Store
sem06/.ipynb_checkpoints

sem07/.DS_Store
sem07/.ipynb_checkpoints

sem08/.DS_Store
sem08/.ipynb_checkpoints

sem03/.ipynb_checkpoints/ML0.3 Каменчук-checkpoint.ipynb
sem04/.ipynb_checkpoints/ML1.0_Каменчук-checkpoint.ipynb
sem04/.ipynb_checkpoints/ML1.1_Каменчук-checkpoint.ipynb
sem09/.ipynb_checkpoints/ML2.3_Каменчук-checkpoint.ipynb
sem03/data/.primes1.txt.icloud
sem04/.Houses.csv.icloud
sem10/.ipynb_checkpoints/ML3.1_Каменчук-checkpoint.ipynb
sem11/.ipynb_checkpoints/Каменчук_ПИ19_1_4.1-checkpoint.ipynb
sem11/.ipynb_checkpoints/Каменчук_ПИ19_1_4.2-checkpoint.ipynb
sem12/.ipynb_checkpoints/Кластеризация Каменчук ПИ19-1 (2_pretendent)-checkpoint.ipynb
sem12/.ipynb_checkpoints/Кластеризация Каменчук ПИ19-1 (beverage)-checkpoint.ipynb
